<!--
  Demo connections.config file structure
  Contain connection string for the app
  Create the file connections.config at the same folder with exe
  And fill data
-->
<connectionStrings>
  <clear />
  <add name="Name"
       providerName="System.Data.SqlClient"
       connectionString=";" /> <!-- Paste connection string here -->
</connectionStrings>